# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

.pnpm-store
/sysroot
node_modules

.vscode/*.log
.idea/

.history
.release-env

/artalk-go.yml
/config.yml

/local
/bin
/data
/dist
/pkged/pkged.go

# always pull latest code and compile
/frontend/sidebar
/frontend/dist
