.DS_Store
node_modules/

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
.history
.editorconfig

# git
.gitignore
.gitattributes

# tests
test
coverage

# build tools
.travis.yml
.jenkins.yml
.codeclimate.yml

# linters
.jscsrc
.jshintrc
.eslintrc*

# vite configs
vite*.config*

# develop tool configs
.prettierrc
.eslintrc.js
.eslintignore
postcss.config.js

yarn.lock
package-lock.json

# local files
deploy
local
CNAME
index.html
#dist

.github
