<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body { padding:45px 10px;margin:0;background:#f4f4f4 }
    .card { margin:0 auto;max-width:700px;position:relative;overflow:hidden;background:#FFF;border-radius:4px;padding:20px }
    .card:not(:last-child) { margin-bottom:10px }
    .title > a { display:block;text-decoration:none;color:#0083ff;font-size:35px;margin-top:0;margin-bottom:10px;margin-left:-30px }
    .title > a:hover { margin-left:0 }
    .title > a > span { opacity:0 }
    .title > a:hover>span { opacity:1 }
    .desc { font-size:12px;color:#757e91 }
    .social { margin-top:20px }
    .social > a:not(:last-child) { margin-right:2px }
  </style>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
</head>
<body>
  <div class="card">
    <div class="title"><a href="https://github.com/qwqcode/Artalk" target="_blank"><span>&gt; </span>Artalk<span> &lt;</span></a></div>
    <div class="desc">一款简洁有趣的自托管评论系统</div>
    <div class="social">
      <a href="https://www.npmjs.com/package/artalk" target="_blank"><img src="https://img.shields.io/npm/v/artalk.svg?style=flat-square"></a>
      <a href="https://www.npmjs.com/package/artalk" target="_blank"><img src="https://img.shields.io/npm/dt/artalk.svg?style=flat-square"></a>
      <a href="https://github.com/qwqcode/Artalk/blob/master/LICENSE" target="_blank"><img src="https://img.shields.io/github/license/qwqcode/Artalk.svg?style=flat-square"></a>
      <a href="https://github.com/qwqcode/Artalk#%E6%8D%90%E5%8A%A9" target="_blank"><img src="https://img.shields.io/badge/%24-donate-%23ff69b4.svg?style=flat-square"></a>
      <a href="https://github.com/qwqcode/Artalk" target="_blank"><img src="https://img.shields.io/github/stars/qwqcode/Artalk.svg?style=social"></a>
    </div>
  </div>
  <div class="card">
    <div id="comments"></div>
  </div>
  <script>
    var artalk = new Artalk({
      el: '#comments',
      placeholder: '来啊，快活啊 (/ω＼)',
      defaultAvatar: 'mp',
      pageSize: 50,
      pageKey: 'https://artalk.js.org/',
      serverUrl: (location.hostname === 'localhost' || location.hostname === '127.0.0.1') ? 'http://localhost:23366/' : 'https://qwqaq.com/Artalk/index.php'
    })
  </script>
</body>
</html>
