<div class="artalk-editor">
  <div class="artalk-editor-header">
    <input name="nick" placeholder="昵称" class="artalk-nick" type="text" required="required">
    <input name="email" placeholder="邮箱" class="artalk-email" type="email" required="required">
    <input name="link" placeholder="网址 (https://)" class="artalk-link" type="url">
  </div>
  <div class="artalk-editor-textarea-wrap">
    <textarea id="artalk-editor-textarea" class="artalk-editor-textarea" placeholder="<%= artalk.opts.placeholder %>"></textarea>
  </div>
  <div class="artalk-editor-plug-wrap" style="display: none;"></div>
  <div class="artalk-editor-bottom">
    <div class="artalk-editor-bottom-part artalk-left artalk-editor-plug-switcher-wrap"></div>
    <div class="artalk-editor-bottom-part artalk-right">
      <button type="button" class="artalk-send-btn">发送评论</button>
    </div>
  </div>
  <div class="artalk-editor-notify-wrap"></div>
</div>
