<div class="artalk-list">
  <div class="artalk-list-header">
    <div class="artalk-comment-count">
      <span class="artalk-comment-count-num">0</span>
      条评论
    </div>
    <div class="artalk-right-action">
      <span data-action="admin-close-comment" class="artalk-hide" data-list-ui-only-admin>关闭评论</span>
      <span data-action="open-sidebar" class="artalk-hide artalk-on">通知中心</span>
    </div>
  </div>
  <div class="artalk-list-body">
    <div class="artalk-list-comments-wrap">
    </div>
    <div class="artalk-list-read-more" style="display: none;">
      <div class="artalk-loading-icon" style="display: none;"></div>
      <span class="artalk-text">查看更多</span>
    </div>
  </div>
  <div class="artalk-list-footer">
    <div class="artalk-copyright">
      Powered By <a href="https://artalk.js.org" target="_blank" title="Artalk v<%= ARTALK_VERSION %>">Artalk</a>
    </div>
  </div>
</div>
