<div class="artalk-list">
  <div class="artalk-list-header">
    <div class="artalk-comment-count">
      <span class="artalk-comment-count-num">0</span>
      条评论
    </div>
    <div class="artalk-right-action">
      <span data-action="open-sidebar">通知中心</span>
    </div>
  </div>
  <div class="artalk-list-body">
    <div class="artalk-list-comments-wrap">
    </div>
  </div>
  <div class="artalk-list-footer">
    <div class="artalk-copyright">
      Powered By <a href="https://artalk.js.org" target="_blank" title="qwqcode/Artalk v<%= ARTALK_VERSION %>">Artalk</a>
    </div>
  </div>
</div>
