.app-footer {
  margin: 80px auto;
  padding-top: 50px;
  text-align: center;
  border-top: 1px solid var(--color-border);

  .brand {
    color: var(--color-primary);
    font-size: 25px;
    font-weight: 700;
  }

  .copyright {
    margin: 20px 0;
    font-size: 20px;

    .red {
      color: #dd2e44;
    }
  }
}
