.app-header {
  z-index: 999;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: background 0.2s ease;

  .container {
    height: 70px;
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;
  }

  &.fixed {
    backdrop-filter: saturate(1.8) blur(20px);
    border-bottom: 1px solid var(--color-border);
    background: var(--color-bg-transparent);
  }

  .brand {
    color: var(--color-primary);
    font-size: 1.5rem;
    font-weight: 700;
  }

  .links {
    display: flex;
    flex-direction: row;
    place-items: center;
    justify-content: space-between;

    .link-item {
      display: flex;
      flex-direction: row;
      align-items: center;
      color: var(--color-font);
      font-weight: bold;
      cursor: pointer;

      .language-toggle {
        margin-left: -4px;
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      button {
        all: unset;
      }

      &:not(:last-child) {
        margin-right: 40px;
      }
    }
  }

  .menu-toggle-mobile {
    display: none;
  }
}

.header-language-list {
  z-index: 1000;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 15px;
  padding: 7px;

  .language-item {
    border-radius: 10px;
    color: var(--color-font);
    padding: 10px 20px;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 5px;
    }

    &:hover {
      background: var(--color-bg-grey);
    }
  }
}
