.app-learn-more-link {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: center;
  font-size: 24px;

  .prompt {
    color: #000;
  }

  .link-btn {
    cursor: pointer;
    color: #0071E3;

    .icon {
      margin-left: 5px;
    }
  }
}
