.app-learn-more-link {
  display: flex;
  flex-direction: row;
  font-size: 1.6rem;

  .prompt {
    color: var(--color-font);
  }

  .link-btn {
    cursor: pointer;
    color: var(--color-primary);

    .icon {
      margin-left: 5px;
    }
  }
}
