.atk-editor-plug-emoticons {
  height: 100%;
  width: 100%;

  & > .atk-grp-wrap {
    @extend .atk-slim-scrollbar;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%; // calc(100% - 30px);
    width: 100%;

    & > .atk-grp {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      padding: 5px 10px 35px 10px;

      &[data-type="image"] > .atk-item {
        height: 63px;
        width: 63px;
      }

      & > .atk-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        cursor: pointer;
        user-select: none;
        border-radius: calc($block-radius / 2);
        font-size: 15px;
        min-width: 35px;
        margin: 2px;

        & > img {
          max-height: 100%;
          width: auto;
        }

        &:hover {
          background: var(--at-color-bg-grey);
        }
      }
    }
  }

  & > .atk-grp-switcher {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: var(--at-color-bg-transl);
    height: 30px;
    border-top: 1px solid var(--at-color-border);
    border-bottom: 1px solid var(--at-color-border);

    & > span {
      user-select: none;
      padding: 0 10px;
      line-height: 30px;
      float: left;
      display: block;
      cursor: pointer;
      font-size: $font-size;

      &:hover,
      &.active {
        background: var(--at-color-bg-grey);
      }
    }
  }
}
