@import "./_color.less";

.artalk {
  position: relative;
  width: 100%;
  min-height: 200px;
}

.artalk, .atk-layer-wrap {
  * {
    box-sizing: border-box;
    line-height: @line-height;
    color: @color-font;
    font-family: @font-family;
    word-wrap: break-word;
    word-break: break-all;
  }

  pre {
    padding: 10px;
    line-height: @line-height;
    background-color: @color-bg-grey;
    color: @color-font;
    padding: 5px 10px;
    border-radius: calc(@block-radius / 2);
    margin: 0;
    font-family: Source Code Pro,courier new,Input Mono,PT Mono,SFMono-Regular,Consolas,Monaco,Menlo,PingFang SC,Liberation Mono,Microsoft YaHei,Courier,monospace;
  }

  a {
    color: @color-main;
    text-decoration: none;
  }

  blockquote {
    position: static;
    margin: 10px 0 10px 0;
    padding: 10px 20px 10px 20px;
    background: @color-bg-grey;
    border-left: 4px solid @color-quote;
  }

  p:first-child {
    margin-top: 0;
  }

  p:last-child {
    margin-bottom: 0;
  }

  * {
    box-sizing: border-box;
  }

  img {
    max-width: 100%;
  }
}

.atk-hide {
  display: none !important;
}

.atk-full-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: @color-bg;
  z-index: 10;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  display: flex;
}

/* Loading */
.atk-loading {
  z-index: 11;
  &:extend(.atk-full-layer);
}

.atk-loading-spinner {
  position: relative;
  width: 50px;
  height: 50px;

  svg {
    animation: atkRotate 2s linear infinite;
    transform-origin: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    circle {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
      animation: atkDash 1.5s ease-in-out infinite, atkColor 6s ease-in-out infinite;
      stroke-linecap: round
    }
  }
}

@keyframes atkRotate {
  100% { transform: rotate(360deg) }
}

@keyframes atkDash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0
  }

  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px
  }

  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px
  }
}

@keyframes atkColor {
  0%,100% { stroke: #ff5652 }
  40% { stroke: #2196F3 }
  66% { stroke: #32c787 }
  80%,90% { stroke: #ffc107 }
}

@keyframes atkLoadingIconRotate {
  0% { transform: rotate(0) }
  100% { transform: rotate(360deg) }
}

.atk-loading-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;
  border: solid 1px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;
  animation: atkLoadingIconRotate .4s linear infinite;
}

/* Animations */
.atk-fade-in {
  animation: atkFadeIn both .3s;
}

.atk-fade-out {
  animation: atkFadeOut both .2s;
}

@keyframes atkFadeIn {
  0% { opacity: 0 }
  to { opacity: 1 }
}

@keyframes atkFadeOut {
  100% { opacity: 0; }
  0% {}
}

.atk-icon-close {
  &:before, &:after {
    position: relative;
    display: block;
    width: 20px;
    height: 1px;
    margin: 0 auto;
    background: @color-deep;
    transform-origin: 11px;
  }

  &:before {
    content: ' ';
    transform: rotate(-45deg);
  }

  &:after {
    content: ' ';
    transform: rotate(45deg);
  }
}

.atk-icon-edit {
  width: 17px;
  height: 17px;
  background-color: @color-deep;
  mask-repeat: no-repeat;
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTciIHZpZXdCb3g9IjAgMCAxNiAxNyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkuNzA2MTggNC4wODUxNUwxMi42MDgxIDcuMDYzNzZNMS4wMDA0MSAxMy4wMjFMMTEuNzM3NiAyTDE0LjYzOTIgNC45Nzg2MUwzLjkwMjc0IDE2SDFMMS4wMDA0MSAxMy4wMjFaIiBzdHJva2U9IiM0RTU5NjkiIHN0cm9rZS13aWR0aD0iMS41Ii8+Cjwvc3ZnPgo=);
}

.atk-icon-del {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjIiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMiAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTIuMjkxNjcgNS4wNDE2Nkw0LjgxMjUxIDUuMDQxNjZNNC44MTI1MSA1LjA0MTY2TDQuODEyNTEgMTguMzMzM0M0LjgxMjUxIDE4LjU4NjUgNS4wMTc3MSAxOC43OTE3IDUuMjcwODQgMTguNzkxN0wxNi43MjkyIDE4Ljc5MTdDMTYuOTgyMyAxOC43OTE3IDE3LjE4NzUgMTguNTg2NSAxNy4xODc1IDE4LjMzMzNWNS4wNDE2Nk00LjgxMjUxIDUuMDQxNjZMNy4zMzMzNCA1LjA0MTY2TTE3LjE4NzUgNS4wNDE2NkwxOS43MDgzIDUuMDQxNjZNMTcuMTg3NSA1LjA0MTY2TDE0LjY2NjcgNS4wNDE2Nk03LjMzMzM0IDUuMDQxNjZWMy4yMDgzM0wxNC42NjY3IDMuMjA4MzNWNS4wNDE2Nk03LjMzMzM0IDUuMDQxNjZMMTQuNjY2NyA1LjA0MTY2IiBzdHJva2U9IiNEMDY1NjUiIHN0cm9rZS13aWR0aD0iMiIvPgo8cGF0aCBkPSJNOS4xNjY2NyA4LjI1VjE1LjEyNU0xMi44MzMzIDguMjVWMTUuMTI1IiBzdHJva2U9IiNEMDY1NjUiIHN0cm9rZS13aWR0aD0iMiIvPgo8L3N2Zz4K);
}

.atk-icon-sync {
  width: 20px;
  height: 20px;
  background-color: @color-deep;
  mask-repeat: no-repeat;
  mask-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjAiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMCAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuOTkxMzMgNC44NzYzNUMyLjIyNTEyIDcuNjQyNTcgMi4yMjUxMiAxMi4xMjc1IDQuOTkxMzMgMTQuODkzN0M2LjA0Njc3IDE1Ljk0OTEgNy4zNTI0IDE2LjYwMTkgOC43MTczMiAxNi44NTE5IiBzdHJva2U9IiM0RTU5NjkiIHN0cm9rZS13aWR0aD0iMiIvPgo8cGF0aCBkPSJNMTQuNDE3OSAxNS40ODE1TDE1LjAwNzIgMTQuODkyMkMxNy43NzM0IDEyLjEyNiAxNy43NzM0IDcuNjQxMDcgMTUuMDA3MiA0Ljg3NDg2QzEzLjk1MTggMy44MTk0MiAxMi42NDYxIDMuMTY2NjggMTEuMjgxMiAyLjkxNjY0IiBzdHJva2U9IiM0RTU5NjkiIHN0cm9rZS13aWR0aD0iMiIvPgo8cGF0aCBkPSJNNi4xNzEwNiA0Ljk5MjUyTDUuNTgxODEgNC40MDMyN0w0Ljk5MjU1IDMuODE0MDFINi4xNzEwNlY0Ljk5MjUyWiIgZmlsbD0iI0M0QzRDNCIgc3Ryb2tlPSIjNEU1OTY5IiBzdHJva2Utd2lkdGg9IjIiLz4KPHBhdGggZD0iTTEzLjgyOTkgMTUuMDA4NEwxNC40MTkyIDE1LjU5NzZMMTUuMDA4NCAxNi4xODY5SDEzLjgyOTlWMTUuMDA4NFoiIGZpbGw9IiNDNEM0QzQiIHN0cm9rZT0iIzRFNTk2OSIgc3Ryb2tlLXdpZHRoPSIyIi8+Cjwvc3ZnPgo=);
}

/* Layer */
.atk-error-layer {
  &:extend(.atk-full-layer);
  background-color: @color-bg-transl;

  .atk-error-title {
    color: @color-red;
  }

  .atk-warn-title {
    color: @color-yellow;
  }

  .atk-error-title, .atk-warn-title {
    display: inline-block;
    padding: 0 15px;
    margin-bottom: 20px;
    font-size: 20px;
    letter-spacing: -0.5px;
  }

  .atk-error-text {
    text-align: center;
    padding: 0 20px;

    * {
      color: @color-deep;
    }

    a {
      color: @color-meta;
    }
  }
}

.atk-layer-dialog-wrap {
  @formInputHeight: 30px;
  &:extend(.atk-full-layer);
  background-color: @color-bg-transl;

  & > .atk-layer-dialog {
    width: 25%;

    & > .atk-layer-dialog-content {
      .atk-captcha-img {
        cursor: pointer;
        width: 100px;
        height: auto;
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid @color-border;
        vertical-align: bottom;
      }

      input {
        width: 100%;
        line-height: calc(@formInputHeight + 4px);
        background-color: @color-bg;
        border: 1px solid @color-border;
        border-radius: calc(@block-radius / 2);
        outline: none;
        padding: 0 6px;
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
      }
    }

    & > .atk-layer-dialog-action {
      display: flex;
      flex-direction: row;

      button {
        flex: 1;
        display: block;
        cursor: pointer;
        border: 1px solid @color-main;
        background: transparent;
        color: @color-main;
        border-radius: calc(@block-radius / 2);
        padding: 0 15px;
        line-height: @formInputHeight;
        outline: none;

        &:active {
          color: #FFF;
          background: @color-main;
        }

        &:not(:last-child) {
          margin-right: 5px;
        }

        &.error {
          color: #FFF;
          background: #ff5652;
          border-color: #ff5652;
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .atk-layer-dialog-wrap > .atk-layer-dialog {
      width: 90% !important;
  }
}

.atk-notify {
  display: block;
  overflow: hidden;
  background-color: #2c2c2c;
  color: #FFF;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 15px;

  &:not(:last-child) {
    margin-bottom: 3px;
  }

  .atk-notify-content {
    color: #FFF;
  }
}

.atk-layer-wrap {
  .atk-layer-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99998;
    background: rgba(0, 0, 0, .3);
  }

  .atk-layer-item {
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
