@header-height: 60px;
@nav-height: 40px;

.atk-sidebar {
  @width: 430px;
  position: fixed;
  z-index: 99999;
  top: 0;
  right: 0;
  width: @width;
  height: 100%;
  background: @color-bg;
  transition: transform 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transform: translate(@width, 0px);

  @media only screen and (max-width: @width) {
    & {
      width: 100%;
    }
  }

  .atk-sidebar-inner {
    position: relative;
  }

  // Header
  .atk-sidebar-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid @color-border;

    .atk-avatar {
      display: flex;
      width: @header-height + 5px;
      height: @header-height;
      align-items: center;
      justify-content: center;

      img {
        height: @header-height - 30px;
        width: @header-height - 30px;
        border-radius: 2px;
      }
    }

    .atk-menu {
      flex: auto;
      text-align: center;

      .atk-item {
        position: relative;
        color: @color-sub;
        font-size: 18px;
        cursor: pointer;
        user-select: none;

        &:not(:last-child) {
          margin-right: 20px;
        }

        &.atk-active {
          color: @color-font;

          &:after {
            content: ' ';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 6px;
            background: @color-main;
            opacity: .4;
          }
        }
      }
    }

    .atk-sidebar-close {
      display: flex;
      flex-direction: column;
      width: @header-height;
      height: @header-height;
      align-items: center;
      place-content: center;
      cursor: pointer;
      user-select: none;

      &:hover .atk-icon-close {
        background-color: rgba(232, 17, 35, 0.9);
      }
    }
  }

  // Nav
  .atk-sidebar-nav {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid @color-border;

    .akt-curt-view-btn {
      display: flex;
      align-items: center;
      padding: 0 20px;
      border-right: 1px solid @color-border;
      cursor: pointer;
      user-select: none;
      height: @nav-height;
      line-height: @nav-height;
      &:hover {
        background: @color-bg-grey;
      }

      .atk-icon {
        width: 17px;

        span {
          position: relative;
          display: block;
          width: 14px;
          height: 1px;
          margin: 0 auto 4px;
          background: @color-deep;
          transform-origin: 20px;

          &:last-child {
            margin-bottom: 0;
          }
        }

        &.atk-arrow span {
          width: 8px;
          opacity: 1;
          transform: rotate(-45deg);
          transform-origin: 7px;

          &:nth-child(2) {
            transform: rotate(0deg);
            width: 0;
            opacity: 0;
          }

          &:nth-child(3) {
            opacity: 1;
            transform: rotate(45deg);
          }
        }
      }

      .atk-text {
        margin-left: 10px;
      }
    }

    .atk-tabs {
      display: flex;
      flex-direction: row;

      &.atk-views .atk-active {
        display: none;
      }

      .atk-tab-item {
        line-height: @nav-height;
        height: @nav-height;
        color: @color-sub;
        cursor: pointer;
        user-select: none;
        padding: 0 20px;

        &:hover {
          background: @color-bg-grey;
        }

        &.atk-active {
          color: @color-deep;
        }
      }
    }
  }

  .atk-sidebar-view-wrap {
    position: relative;
    overflow-y: auto;
    height: calc(100vh - @header-height - @nav-height - 2px);

    .atk-sidebar-no-content {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      font-size: 35px;
      color: @color-meta;
      pointer-events: none;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .atk-form-inline-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;

    input, select, button {
      display: inline !important;
      min-width: initial !important;

      @media only screen and (max-width: 768px) {
        & {
          width: 100%;
        }
      }
    }

    button {
      width: 200px !important;
    }
  }

  .atk-form-wrap, .atk-form-inline-wrap {
    padding: 10px 10px;

    input, select {
      min-width: 200px;
    }

    input, textarea {
      display: block;
      line-height: 30px;
      padding: 0 10px;
      margin: 0 2px;
      border: none;
      border-bottom: 1px solid @color-border;
      outline: none;
      width: 100%;

      &:focus {
        border-bottom-color: @color-main;
      }

      &[type="file"] {
        width: 200px;
        cursor: pointer;
        position: relative;
        border: 0;
        margin: 17px 0;
      }
    }

    textarea {
      min-height: 120px;
    }

    select {
      display: block;
      outline: none;
      border: none;
      border-bottom: 1px solid @color-border;
      height: 30px;
      padding: 0 10px;
      width: 100%;
    }

    button {
      &:hover {
        color: #fff;
        background: @color-main;
      }

      color: @color-light;
      background: @color-bg-light;
      border: 0;
      line-height: 30px;
      cursor: pointer;
      outline: none;
      padding: 0 20px;
      border-radius: 2px;
      margin: 0 5px;
      width: 100%;
    }

    .atk-desc {
      font-size: 14px;
      margin-top: 12px;
      margin-left: 15px;
      display: block;
    }
  }

  .atk-admin-setting {
    .atk-log-back-btn {
      display: inline-block;
      padding: 5px 30px;
      cursor: pointer;
      user-select: none;
      &:hover {
        background: #f4f4f4;
      }
    }

    .atk-iframe {
      width: 100%;
      height: calc(100vh - 150px);
      border: 0;
      background: #f4f4f4;
      border: 5px solid #eee;
    }
  }
}

/* Sidebar Common List */
.atk-sidebar .atk-sidebar-list {
  & > .atk-item {
    display: flex;
    align-items: flex-start;
    padding: 10px 20px;
    flex-direction: column;

    &:not(:last-child) {
      border-bottom: 1px solid @color-border;
    }

    .atk-title {
      font-size: 20px;
      display: block;
      cursor: pointer;

      &:hover {
        color: @color-main;
      }
    }

    .atk-sub {
      display: block;
      color: @color-meta;
      cursor: pointer;

      &:hover {
        color: @color-main;
      }
    }

    .atk-actions {
      display: flex;
      margin-top: 10px;
      flex-direction: row;
      flex-wrap: wrap;

      & > .atk-item {
        font-size: 14px;
        color: @color-meta;
        cursor: pointer;
        user-select: none;

        &:not(:last-child) {
          margin-right: 10px;
          padding-right: 10px;
          border-right: 1px solid @color-border;
        }

        &:hover {
          color: @color-main;
        }
      }
    }
  }
}

.atk-sidebar .atk-setting {
  .atk-group {
    padding: 15px 25px;

    &:not(:last-child) {
      border-bottom: 1px solid @color-border;
    }
  }

  .atk-title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .atk-label {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 2px;
    color: @color-meta;
  }

  .atk-btn {
    padding: 4px 25px;
    margin-top: 20px;
  }
}
