$color-default: #565a5f;
$color-deep: #2a2e2e;
$color-grey: #999;
$color-meta: #757e91;
$color-border: #eceff2;
$color-bg: #FFF;
$color-main: #0083ff;

$font-family: "Helvetica Neue", "PingFangSC-Light", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$font-size: 14px;
$line-height: 1.6em;

$block-margin: 15px;
$block-padding: 10px;
$block-radius: 4px;
