.artalk-comment-wrap {
  overflow: hidden;
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid $color-border;
  animation: .3s both artalkFadeIn;

  &:last-child {
    border-bottom-color: transparent;
  }

  & > .artalk-comment {
    display: flex;
    padding: 12px 10px;

    & > .artalk-avatar {
      display: block;
      flex: none;
      margin-right: 12px;
      padding: 2px 0;

      img {
        width: 48px;
        height: 48px;
        border-radius: 3px;
      }
    }

    & > .artalk-content {
      display: block;
      flex: auto;

      & > .artalk-header {
        line-height: 1;
        font-size: 12px;
        margin-bottom: 3px;
        display: block;
        overflow: hidden;
        position: relative;

        @mixin badge {
          background: #F4F4F4;
          padding: 0 5px;
          border-radius: 3px;
        }

        & > span {
          display: block;
          float: left;
          color: $color-meta;

          &:not(:last-child) {
            margin-right: 5px;
          }

          &.artalk-nick {
            font-size: 13px;

            & > a {
              color: $color-main;
              text-decoration: none;
            }
          }

          &.artalk-badge {
            @include badge();
            background: #ffa928;
            color: #FFF;
          }

          &.artalk-ua {
            @include badge();
          }
        }
      }

      & > .artalk-body {
        display: block;
        overflow: hidden;
        position: relative;

        & > *:first-child {
          margin-top: 0;
        }

        & > *:last-child {
          margin-bottom: 0;
        }
      }

      & > .artalk-footer {
        .artalk-comment-actions {
          & > span {
            color: $color-meta;
            font-size: 13px;
            cursor: pointer;
            user-select: none;

            &:hover {
              color: $color-deep;
            }
          }
        }
      }

      & > .artalk-comment-children {
        margin-top: 10px;
        border-radius: 3px;
        border-left: 1px dashed hsla(0,0%,93%,.5);

        .artalk-comment-wrap {
          border-bottom-color: transparent;
          margin-bottom: 5px;

          & > .artalk-comment {
            padding-top: 4px;
            padding-bottom: 4px;

            & > .artalk-avatar img {
              width: 36px;
              height: 36px;
            }
          }
        }
      }
    }
  }
}
