.artalk-editor {
  border: 1px solid $color-border;
  border-radius: $block-radius;
  margin-bottom: $block-margin;
  overflow: hidden;
  position: relative;
}

.artalk-editor-header {
  display: flex;
  flex-direction: row;
  padding: 0 $block-padding;
  padding-top: $block-padding/2;
  padding-bottom: 0;

  input {
    border: 2px solid transparent;
    transition: color .3s ease;
    flex: 1;
    background: transparent;
    border-radius: $block-radius/2;
    padding: 6px 5px;
    resize: none;
    outline: none;
    width: 100%;

    &:not(:last-child) {
      margin-right: 2px;
    }
  }
}

.artalk-editor-wrap {
}

.artalk-editor-textarea {
  margin-top: 2px;
  padding: $block-padding 10px + 5px;
  display: block;
  width: 100%;
  min-height: 130px;
  resize: none;
  word-wrap: break-word;
  border: 2px solid transparent;
  border-radius: $block-radius/2;
  outline: none;
}

.artalk-editor-plug-wrap {
  position: relative;
  height: 150px;
  width: 100%;
  overflow: hidden;
  border-top: 1px solid $color-border;
  animation: .3s both fadeIn;

  @keyframes fadeIn {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
  }
}

.artalk-editor-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 1px solid $color-border;
  padding: 0 0 0 $block-padding - 5px;
}

.artalk-editor-bottom-part {
  flex: 1;
}

.artalk-editor-action {
  padding: 0 8px;
  cursor: pointer;
  color: $color-grey;
  font-size: $font-size;
  user-select: none;

  & > i {
    color: $color-grey;
    vertical-align: sub;
    margin-left: 4px;
    svg.markdown path {
      fill: $color-grey;
    }
  }

  &.active {
    color: $color-main;
  }

  &:not(:last-child) {
    border-right: 1px solid $color-border;
  }
}

.artalk-send-btn {
  float: right;
  background: $color-main;
  color: #FFF;
  border: none;
  padding: 4px 30px;
  cursor: pointer;
  transition: opacity .3s ease-in-out;
  outline: none;
  font-size: $font-size;

  &:active {
    opacity: .9;
  }
}
