.artalk > .artalk-editor {
  border: 1px solid $color-border;
  border-radius: $block-radius;
  margin-bottom: $block-margin;
  overflow: hidden;
  position: relative;

  & > .artalk-editor-header {
    display: flex;
    flex-direction: row;
    padding: 0 $block-padding;
    padding-top: $block-padding/2;
    padding-bottom: 0;

    input {
      border: 2px solid transparent;
      transition: color .3s ease;
      flex: 1;
      background: transparent;
      border-radius: $block-radius/2;
      padding: 6px 5px;
      resize: none;
      outline: none;
      width: 100%;

      &:not(:last-child) {
        margin-right: 2px;
      }
    }
  }

  & > .artalk-editor-textarea-wrap {
    .artalk-editor-textarea {
      margin-top: 2px;
      padding: $block-padding 10px + 5px;
      display: block;
      width: 100%;
      min-height: 130px;
      resize: none;
      word-wrap: break-word;
      border: 2px solid transparent;
      border-radius: $block-radius/2;
      outline: none;
    }

    .artalk-send-reply {
      font-size: 14px;
      height: 30px;
      line-height: 30px;
      background: rgba(244, 244, 244, 0.75);
      padding: 0 30px 0 10px;
      position: absolute;
      right: 10px;
      bottom: 40px;
      pointer-events: none;
      max-width: calc(100% - 20px);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .artalk-text {
      }

      .artalk-cancel {
        pointer-events: all;
        position: absolute;
        right: 0;
        bottom: 0;
        height: 30px;
        text-align: center;
        width: 30px;
        line-height: 30px;
        cursor: pointer;
        user-select: none;
        font-weight: 700;

        &:hover {
          color: $color-deep;
        }
      }
    }
  }

  & > .artalk-editor-plug-wrap {
    position: relative;
    height: 150px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid $color-border;
    animation: .3s both artalkFadeIn;
    transition: .2s height ease-in-out;
  }

  & > .artalk-editor-bottom {
    display: flex;
    flex-direction: row;
    border-top: 1px solid $color-border;
    padding: 0 0 0 $block-padding - 5px;

    .artalk-editor-bottom-part {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;

      &.artalk-left {
        flex: inherit;
      }

      &.artalk-right {
        justify-content: flex-end;
      }
    }

    .artalk-editor-action {
      padding: 0 8px;
      cursor: pointer;
      color: $color-grey;
      font-size: $font-size;
      user-select: none;

      & > i {
        color: $color-grey;
        vertical-align: sub;
        margin-left: 4px;
        svg.markdown path {
          fill: $color-grey;
        }
      }

      &.active {
        color: $color-main;
      }

      &:not(:last-child) {
        border-right: 1px solid $color-border;
      }
    }

    .artalk-send-btn {
      background: $color-main;
      color: #FFF;
      border: none;
      padding: 0 30px;
      height: 30px;
      cursor: pointer;
      transition: opacity .3s ease-in-out;
      outline: none;
      font-size: $font-size;

      &:active {
        opacity: .9;
      }
    }
  }

  & > .artalk-editor-notify-wrap {
    position: absolute;
    right: -2px;
    bottom: 36px;
    width: 225px;
    z-index: 9;
    opacity: .83;
  }
}
