.artalk > .artalk-list {
  position: relative;

  & > .artalk-list-header {
    display: flex;
    flex-direction: row;
    padding: 10px 10px 5px 10px;
    border-bottom: 1px solid $color-border;

    .artalk-comment-count {
      flex: 1;
      font-size: 15px;

      .artalk-comment-count-num {
        font-size: 22px;
        margin-right: 4px;
      }
    }

    .artalk-right-action {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;

      & > span {
        font-size: 14px;
        color: $color-main;
        cursor: pointer;
        user-select: none;
      }
    }
  }

  & > .artalk-list-body {
    & > .artalk-list-comments-wrap {
      .artalk-no-comment {
        text-align: center;
        height: 150px;
        line-height: 150px;
        display: block;
        font-size: 19px;
      }
    }
  }

  & > .artalk-list-footer {
    position: relative;
    overflow: hidden;

    .artalk-copyright {
      display: block;
      font-size: 13px;
      float: right;
      color: $color-main;
      padding: 0 10px;
      border-radius: 2px;

      a {
        color: $color-main;
        text-decoration: none;
      }
    }
  }
}
