.artalk {
  position: relative;
  width: 100%;
  min-height: 200px;
}

.artalk, .artalk-sidebar {
  * {
    box-sizing: border-box;
    line-height: $line-height;
    color: $color-default;
    font-family: $font-family;
    word-wrap: break-word;
  }

  pre {
    padding: 10px;
    line-height: $line-height;
    background-color: #f6f6f6;
    color: #555;
    padding: 5px 10px;
    border-radius: $block-radius/2;
    margin: 0;
    font-family: Source Code Pro,courier new,Input Mono,PT Mono,SFMono-Regular,Consolas,Monaco,Menlo,PingFang SC,Liberation Mono,Microsoft YaHei,Courier,monospace;
  }

  a {
    color: $color-main;
    text-decoration: none;
  }
}

.full-layer {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: $color-bg;
  z-index: 10;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  display: flex;
}

.artalk-loading {
  z-index: 11;
  @extend .full-layer;
}

.artalk-loading-spinner {
  position: relative;
  width: 50px;
  height: 50px;

  svg {
    animation: artalkRotate 2s linear infinite;
    transform-origin: center center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

    circle {
      stroke-dasharray: 1,200;
      stroke-dashoffset: 0;
      animation: artalkDash 1.5s ease-in-out infinite, artalkColor 6s ease-in-out infinite;
      stroke-linecap: round
    }
  }
}

@keyframes artalkRotate {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes artalkDash {
  0% {
    stroke-dasharray: 1,200;
    stroke-dashoffset: 0
  }

  50% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -35px
  }

  100% {
    stroke-dasharray: 89,200;
    stroke-dashoffset: -124px
  }
}

@keyframes artalkColor {
  0%,100% {
    stroke: #ff5652
  }

  40% {
    stroke: #2196F3
  }

  66% {
    stroke: #32c787
  }

  80%,90% {
    stroke: #ffc107
  }
}

.artalk-fade-in {
  animation: artalkFadeIn both .3s;
}

.artalk-fade-out {
  animation: artalkFadeOut both .2s;
}

@keyframes artalkFadeIn {
  0% {
      opacity: 0
  }

  to {
      opacity: 1
  }
}

@keyframes artalkFadeOut {
  100% {
      opacity: 0;
  }

  0% {
  }
}

.artalk-error-layer {
  @extend .full-layer;
  background-color: rgba(255, 255, 255, 0.94);

  .artalk-error-title {
    color: #ff5652;
  }

  .artalk-error-text {
    text-align: center;
  }
}

.artalk-layer-dialog-wrap {
  $formInputHeight: 25px;
  @extend .full-layer;
  background-color: rgba(255, 255, 255, 0.94);

  & > .artalk-layer-dialog {
    width: 40%;

    & > .artalk-layer-dialog-content {
      input {
        width: 100%;
        line-height: $formInputHeight + 4px;
        border: 1px solid $color-grey;
        border-radius: $block-radius/2;
        outline: none;
        padding: 0 6px;
        display: block;
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
      }
    }

    & > .artalk-layer-dialog-action {
      display: flex;
      flex-direction: row;

      button {
        flex: 1;
        display: block;
        cursor: pointer;
        border: 1px solid $color-main;
        background: transparent;
        color: $color-main;
        border-radius: $block-radius/2;
        padding: 0 15px;
        line-height: $formInputHeight;
        outline: none;

        &:active {
          color: #FFF;
          background: $color-main;
        }

        &:not(:last-child) {
          margin-right: 5px;
        }
      }
    }
  }
}

.artalk-notify {
  display: block;
  overflow: hidden;
  background-color: #2c2c2c;
  color: #FFF;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  padding: 4px 15px;

  &:not(:last-child) {
    margin-bottom: 3px;
  }

  .artalk-notify-content {
    color: #FFF;
  }
}
