* {
  box-sizing: border-box;
}

body {
  font: 16px "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 640px) { max-width: 640px; }
  @media (min-width: 720px) { max-width: 720px; }
  @media (min-width: 768px) { max-width: 768px; }
  @media (min-width: 1024px) { max-width: 1024px; }
  @media (min-width: 1280px) { max-width: 1280px; }
  @media (min-width: 1536px) { max-width: 1536px; }
}

a {
  text-decoration: none;
}
