* {
  box-sizing: border-box;
}

:root {
  --color-primary: #007bff;
  --color-font: #333;
  --color-font-secondary: #67757f;
  --color-bg: #fff;
  --color-bg-transparent: rgba(255, 255, 255, 0.9);
  --color-bg-grey: #f6f8fa;
  --color-bg-grey-deep: #f2f2f5;
  --color-bg-blue: #e5effe;
  --color-border: #e1e4ec;
  --color-border-light: #e4e4e4;
}

html,
body {
  background-color: var(--color-bg);
}

body {
  padding-top: 70px;
}

:host,
html {
  font:
    16px 'SF Pro Display',
    'SF Pro Icons',
    'Helvetica Neue',
    'Helvetica',
    'Arial',
    sans-serif;
  color: var(--color-font);
}

.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: 640px) {
    max-width: 590px;
  }
  @media (min-width: 720px) {
    max-width: 670px;
  }
  @media (min-width: 768px) {
    max-width: 718px;
  }
  @media (min-width: 1024px) {
    max-width: 974px;
  }
  @media (min-width: 1280px) {
    max-width: 1230px;
  }
  @media (min-width: 1536px) {
    max-width: 1446px;
  }
  @media (min-width: 1920px) {
    max-width: 80%;
  }
}

a {
  text-decoration: none;
}

.anim-fade-in {
  animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.app-grey-bg {
  background: var(--color-bg-grey-deep);
}
