.app-dark-mode {
  --color-primary: #58a6ff;
  --color-font: rgba(255, 255, 255, 0.8);
  --color-font-secondary: #c9d1d9;
  --color-bg: #22272e;
  --color-bg-transparent: rgba(34, 39, 46, 0.9);
  --color-bg-grey: #2d333b;
  --color-bg-blue: #aabcd7;
  --color-border: #444c56;
}
