@import 'include-media';

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  xxl: 1536px,
);

@include media('>lg', '<xxl') {
  .feature {
    .feature-title {
      padding: 0 40px;
    }

    .content {
      padding: 0 75px;

      main {
        width: 50%;
      }

      aside {
      }
    }
  }
}

@include media('<=lg') {
  .app-header {
    padding: 0 25px;
  }

  .app-header .menu-toggle-mobile {
    display: block;
  }

  .app-header .links {
    display: none;

    &.mobile-show {
      flex: 1;
      display: flex;
      justify-content: space-around;
    }

    .link-item:not(:last-child) {
      margin-right: 0;
    }

    .link-item .language-toggle {
      margin-left: 0;
    }
  }

  .slogan .slogan-inner {
    padding: 0 40px;
  }

  .slogan .text {
    font-size: 3em;
    width: 100%;
  }

  .slogan .text .highlight .line-wrap {
    bottom: -15px;
    zoom: 0.9;
  }

  .slogan .demos {
    display: none;
  }

  .slogan .btns {
    display: flex;
    flex-direction: row;

    .btn:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }

  .feature {
    padding: 0 30px;

    svg {
      object-fit: contain;
      max-height: 300px;
    }

    .content {
      padding: 0;
      flex-direction: column;

      main {
        width: 100%;
      }

      aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
        width: 100%;

        svg {
          zoom: 0.8;
        }
      }
    }
  }

  .full.feature .func-list .row {
    display: flex;
    flex-direction: column;
    transform: translateX(0) !important;

    .item {
      width: 100%;
      padding: 30px 40px;
      margin: 0;
      font-size: 1.3rem;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  .feature.quick .airplane-wrap {
    margin-left: -50px;
  }

  .feature.quick .extra-desc {
    display: flex;
    flex-direction: column;
    margin: 250px 20px;
  }

  .feature.quick .extra-desc .golang-icon {
    margin-top: 50px;
    zoom: 0.6;
  }

  .feature.quick .extra-desc .docker-url {
    font-size: 1rem;
  }

  .full.feature .folder-icon {
    margin-top: 0;
  }

  .func.feature .content .ship-icon {
    margin-top: 0;
  }

  .app-learn-more-link {
    font-size: 1.25rem;
    flex-direction: column;
    margin-bottom: 2em;

    .prompt {
      margin-bottom: -1em;
    }
  }

  .safe.feature .data-icon {
    zoom: 0.5;
    margin-left: 0;
    margin-bottom: 0;
  }

  .safe.feature main {
    margin: 0;
  }

  .func.feature .func-grps {
    padding: 0;
    column-count: 1;
  }

  .feature.quick .deploy-links .item span {
    font-size: 1.6rem;
  }

  .feature.quick .deploy-links .item .bold {
    font-size: 2rem;
  }

  .func.feature .func-grps .grp .name {
    font-size: 1.45rem;
  }

  .feature-title {
    font-size: 2.5em;
  }

  .feature-desc {
    text-align: left;
    font-size: 1.5rem;
  }
}
