@import "include-media";

$breakpoints: (sm: 640px, md: 768px, lg: 1024px, xl: 1280px, xxl: 1536px);

@include media(">lg", "<xxl") {
  .feature {
    .feature-title {
      padding: 0 40px;
    }

    .content {
      padding: 0 75px;

      main {
        width: 50%;
      }

      aside {
      }
    }
  }
}

@include media("<=md") {
  .slogan .slogan-inner {
    padding: 0 40px;
  }

  .app-header {
    padding: 0 25px;
  }

  .app-header .links .link-item:not(:last-child) {
    margin-right: 24px
  }

  .slogan .text {
    zoom: .8;
    width: 100%;
  }

  .slogan .demos {
    display: none;
  }

  .slogan .btns {
    display: flex;
    flex-direction: row;

    .btn:not(:last-child) {
      margin-right: 10px;
      margin-bottom: 20px;
    }
  }

  .feature {
    padding: 0 30px;

    svg {
      object-fit: contain;
      max-height: 300px;
    }

    .content {
      padding: 0;
      flex-direction: column;

      main {
        width: 100%;
      }

      aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        place-items: center;
        width: 100%;

        svg {
          zoom: .8;
        }
      }
    }
  }

  .full.feature .func-list .row {
    display: flex;
    flex-direction: column;
    transform: translateX(0) !important;

    .item {
      width: 100%;
      padding: 30px 40px;
      font-size: 21px;

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  .feature.quick .airplane-wrap {
    margin-left: -50px;
  }

  .feature.quick .extra-desc {
    display: flex;
    flex-direction: column;
    margin: 250px 20px;
  }

  .feature.quick .extra-desc .golang-icon {
    margin-top: 50px;
    zoom: .6;
  }

  .feature.quick .extra-desc .self-compile {
    text-align: center;
  }

  .feature.quick .extra-desc .docker-url {
    font-size: 20px;
  }

  .full.feature .folder-icon {
    margin-top: 0;
  }

  .func.feature .content .ship-icon {
    margin-top: 0;
  }

  .app-learn-more-link {
    flex-direction: column;

    .prompt {
      margin-bottom: 20px;
    }
  }

  .safe.feature .data-icon {
    zoom: .5;
    margin-left: 0;
    margin-bottom: 0;
  }

  .safe.feature main {
    margin: 0;
  }

  .func.feature .func-grps {
    padding: 0;
    column-count: 1;
  }

  .feature.quick .deploy-links .item span {
    font-size: 23px;
  }

  .feature.quick .deploy-links .item .bold {
    font-size: 35px;
  }

  .feature-desc {
    text-align: left;
    font-size: 19px;
  }
}
