.atk-slim-scrollbar {
  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(86,86,86,.3);
  }

  &::-webkit-scrollbar-thumb:vertical:hover {
    background: rgba(65,74,82,.77);
  }

  &::-webkit-scrollbar-thumb:vertical:active {
    background: rgba(41,47,53,.77);
  }
}
