.atk-main-editor {
  $editor-padding: 10px;
  position: relative;
  overflow: hidden;
  background: var(--at-color-bg);
  border: 1px solid var(--at-color-border);
  border-radius: $block-radius;
  margin-bottom: 10px;

  @media only screen and (max-width: 768px) {
    margin-bottom: 7px;
  }

  & > .atk-header {
    display: flex;
    flex-direction: row;
    padding: 10px 14px 0;

    input {
      flex: 1;
      width: 100%;
      font-size: 14px;
      background: transparent;
      border: 2px solid transparent;
      border-radius: calc($block-radius / 2);
      padding: 6px 5px;
      resize: none;
      outline: none;

      &:not(:last-child) {
        margin-right: 2px;
      }
    }
  }

  & > .atk-textarea-wrap {
    position: relative;

    & > .atk-textarea {
      display: block;
      overflow: hidden;
      color: var(--at-color-font);
      font-size: 15px;
      background-color: var(--at-color-bg);
      border: 2px solid transparent;
      border-radius: calc($block-radius / 2);
      width: 100%;
      min-height: 120px;
      margin-top: 2px;
      padding: 10px 20px;
      resize: none;
      word-wrap: break-word;
      outline: none;
    }

    & > .atk-comment-closed {
      pointer-events: none;
      color: var(--at-color-meta);
      font-size: 12px;
      background-color: var(--at-color-bg);
      border-top: 1px solid var(--at-color-border);
      padding: 5px 15px;
      margin-top: 10px;
      // background: repeating-linear-gradient(145deg, #f2f2f2, #f2f2f2 15px, #fff 0, #fff 30px);
    }

    & > .atk-send-reply {
      z-index: 2;
      position: absolute;
      right: 7px;
      bottom: 2px;
      max-width: calc(100% - 20px);
      height: 30px;
      line-height: 30px;
      font-size: 14px;
      background: var(--at-color-bg-grey-transl);
      padding: 0 30px 0 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      cursor: pointer;
      border-radius: calc($block-radius / 2);

      .atk-text {
      }

      .atk-cancel {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 30px;
        text-align: center;
        width: 30px;
        line-height: 30px;
        font-weight: 700;

        &:hover {
          color: var(--at-color-deep);
        }
      }
    }
  }

  & > .atk-plug-panel-wrap {
    position: relative;
    height: 180px;
    width: 100%;
    overflow: hidden;
    border-top: 1px solid var(--at-color-border);
    animation: 0.3s both atkFadeIn;
    transition: 0.2s height ease-in-out;
  }

  & > .atk-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 5px 5px 10px;

    & > .atk-item {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .atk-plug-btn {
      padding: 0 8px;
      line-height: 24px;
      cursor: pointer;
      color: var(--at-color-grey);
      font-size: $font-size;
      user-select: none;
      border-radius: calc($block-radius / 2);

      &:not(:last-child) {
        margin-right: 2px;
      }

      &:hover {
        background: var(--at-color-bg-grey);
      }

      &.active {
        color: var(--at-color-main);

        svg.markdown path {
          fill: var(--at-color-main);
        }
      }

      i {
        color: var(--at-color-grey);
        display: inline-flex;
        vertical-align: sub;
        margin-left: 4px;
        svg.markdown path {
          fill: var(--at-color-grey);
        }
      }
    }

    .atk-send-btn {
      background: var(--at-color-main);
      color: #fff;
      font-size: $font-size;
      border: none;
      margin: 0;
      height: 30px;
      width: 8em;
      cursor: pointer;
      transition: opacity 0.3s ease-in-out;
      outline: none;
      border-radius: calc($block-radius / 2);

      &:active {
        opacity: 0.9;
      }
    }
  }

  & > .atk-notify-wrap {
    z-index: 3;
    position: absolute;
    right: -2px;
    bottom: 40px;
    width: 225px;
    opacity: 0.83;
  }
}
