<div class="artalk-comment-wrap" data-comment-id="">
  <div class="artalk-comment">

    <div class="artalk-avatar">
      <a target="_blank"><img src=""></a>
    </div>

    <div class="artalk-comment-main">

      <div class="artalk-header">
        <span class="artalk-nick"><a target="_blank"></a></span>
        <span class="artalk-badge"></span>
        <span class="artalk-date"></span>
        <span class="artalk-ua ua-browser"></span>
        <span class="artalk-ua ua-os"></span>
      </div>

      <div class="artalk-body">
        <div class="artalk-content"></div>
      </div>

      <div class="artalk-footer">
        <div class="artalk-comment-actions"></div>
      </div>

    </div>

  </div>
</div>
