<div class="atk-main-editor">
  <div class="atk-editor-header">
    <input name="nick" placeholder="昵称" class="atk-nick" type="text" required="required">
    <input name="email" placeholder="邮箱" class="atk-email" type="email" required="required">
    <input name="link" placeholder="网址 (https://)" class="atk-link" type="url">
  </div>
  <div class="atk-editor-textarea-wrap">
    <div class="atk-close-comment" style="display: none;"><span>仅管理员可评论</span></div>
    <textarea id="atk-editor-textarea" class="atk-editor-textarea" placeholder=""></textarea>
  </div>
  <div class="atk-editor-plug-wrap" style="display: none;"></div>
  <div class="atk-editor-bottom">
    <div class="atk-editor-bottom-part atk-left atk-editor-plug-switcher-wrap"></div>
    <div class="atk-editor-bottom-part atk-right">
      <button type="button" class="atk-send-btn"></button>
    </div>
  </div>
  <div class="atk-editor-notify-wrap"></div>
</div>
