<div class="atk-sidebar">
  <div class="atk-sidebar-inner">
    <div class="atk-sidebar-header">
      <span class="atk-avatar">
        <!-- TODO 头像-->
        <img src="https://sdn.geekzu.org/avatar/426f0705696aa04566d34e3d4d5845c2?d=mp&amp;s=80">
      </span>
      <span class="atk-view-switcher">
        <span class="atk-item">通知</span>
        <span class="atk-item atk-active">控制台</span>
      </span>
      <div class="atk-sidebar-close atk-icon-close"></div>
    </div>
    <div class="atk-sidebar-nav">
      <div class="akt-menu-btn">
        <div class="atk-icon atk-arrow"><span></span><span></span><span></span></div>
        <div class="atk-text">评论</div>
      </div>
      <div class="atk-tabs">
        <div class="atk-tab-item atk-active">全部</div>
        <div class="atk-tab-item">待审</div>
      </div>
    </div>
    <div class="atk-sidebar-view-wrap">
      <div class="atk-page-list">

        <div class="atk-page-item">
          <div class="atk-page-edit-layer">
            <div class="atk-page-main-actions">
              <div class="atk-item">标题修改</div>
              <div class="atk-item">KEY 变更</div>
              <div class="atk-item atk-green">所有人可评</div>
            </div>
            <div class="atk-page-actions">
              <div class="atk-item">
                <div class="atk-icon-sync"></div>
              </div>
              <div class="atk-item">
                <div class="atk-icon-del"></div>
              </div>
              <div class="atk-item">
                <div class="atk-icon-close"></div>
              </div>
            </div>
          </div>

          <div class="atk-page-main">
            <div class="atk-title">页面标题</div>
            <div class="atk-sub">https://www.figma.com/file/fpwojXWIKqX1nIkcSg7yhV/Artalk-Sidebar?node-id=0%3A1</div>
          </div>
          <div class="atk-page-actions">
            <div class="atk-item">
              <div class="atk-icon-edit"></div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
