<div class="atk-sidebar">
  <div class="atk-sidebar-inner">
    <div class="atk-sidebar-header">
      <span class="atk-avatar">
        <img src="https://sdn.geekzu.org/avatar/426f0705696aa04566d34e3d4d5845c2?d=mp&amp;s=80">
      </span>
      <span class="atk-view-switcher">
        <span class="atk-item">通知</span>
        <span class="atk-item atk-active">控制台</span>
      </span>
      <div class="atk-sidebar-close"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg></div>
    </div>
    <div class="atk-sidebar-actions"></div>
    <div class="atk-sidebar-content"></div>
  </div>
</div>
