%action-btn {
  color: var(--at-color-meta);
  font-size: 13px;
  line-height: 25px;
  display: inline-flex;
  cursor: pointer;
  user-select: none;

  &.atk-error,
  &.atk-error:hover {
    color: var(--at-color-red);
  }

  &:not(:last-child):not(.atk-hide) {
    margin-right: 16px;
  }

  &:hover {
    color: var(--at-color-deep);
  }
}