$font-family:
  ui-sans-serif,
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI Variable Display',
  'Segoe UI',
  Helvetica,
  'PingFang SC',
  'Microsoft YaHei',
  Helvetica,
  'Apple Color Emoji',
  Arial,
  sans-serif,
  'Segoe UI Emoji',
  'Segoe UI Symbol';
$font-size: 14px;
$line-height: 1.6em;
$block-radius: 6px;
